<ion-view title="All Chalan" id="page2" class=" ">
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Rama</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>David</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Mathue</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Murli</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Divya</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Rama</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>David</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Mathue</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Murli</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Divya</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
            
          
        </div>
    </ion-content>
</ion-view>