
<ion-view title="Home" id="page4" class=" ">
     <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-compose" ng-click="CreateNewChalan()"></button>
    </ion-nav-buttons>
    <ion-content  >
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/images.png">
                <h2>Kushagra Rajpoot</h2>
                <p>Hinjewadi Phase 3</p>
            </div>
            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-ios-book"></i>
                Total Chalan Till Date: 24
            </a>
        </div>
        <div class="list">
            <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Rama</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>David</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Mathue</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Murli</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Divya</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
             <a class="item item-avatar" href="#">
            <img src="img/firebase-icon.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
          
        </div>
    </ion-content>
</ion-view>