<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="login-container" >
       <section class="login-container">
           <div class="col">
               <div class = "col header text-center">
               <img src="./img/images.png" class = "logo" />
                </div>
           </div>
           <div class="col button-row">
              <label class="item item-input">
                <input type="text" placeholder="UserId" ng-bind="user.email">
            </label>
           </div>
           <div class="col button-row">
               <label class="item item-input">
                <input type="password" placeholder="Password" ng-bind="user.password">
            </label>
           </div>
            
           <div class="col button-row">
               <button class="button button-clear button-royal" ng-click="login()">
                Login
             </button>             
           </div>
       </section>
    </ion-content>
</ion-view>